.shifokorlar {
    background-color: darkblue;
    width: 1500px;
    height: 400px;

}
.big-h1 {
    text-align: center;
    color: #fff;
    align-items: center;
    padding-top: 90px;
}
.h1 {
}
.p {
}